.contact-hero-img {
  //   background-image:);
  background: url("./assets/vavebg_Pixelated_Oasis\ 1.png"),
    lightgray 50% / cover no-repeat;
  //   border-radius: ;
}
.contact-hero-imge {
  background-image: url("./assets/vavebg_Pillar_Perspective\ 1.png");
}
.contact-hero-imgee {
  background-image: url("./assets/vavebg_Mediterranean_Serenity\ 1.png");
}
